# Домашнее задание (титаник)

In [1]:
import numpy as np
import pandas as pd

In [7]:
titanic_data = pd.read_csv('train.csv')
test_df = pd.DataFrame()
titanic_data.head()

NameError: name 'pd' is not defined

In [ ]:
Основные идеи для анализа:
Выяснить как организованы поля SibSp, Parch. Значение int - означает количество братьев/сестер либо родителей/детей на борту.
Попробовать найти в сете семьи и оценить их выживаемость. Извлечь фамилии из name, группировать по семьям. Оценить семью 
по возрасту, полу, классу

Прокоррелировать выживаемость с полом, возрастом, классом - самые очевидные зависимости.
Попробовать прокоррелировать с портом назначения, возможно это как то связано с навыками выживания в ледяной воде ночью.

Что можно извлечь из name?
Стоимости билетов одного и того же класса отличаются, выяснить тут что нибудь

In [6]:
titanic_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [24]:
# Выясним среднюю выживаемость людей с родственниками и без
print('With relatives: ', round(titanic_data[(titanic_data['SibSp'] != 0) | (titanic_data['Parch'] != 0)]['Survived'].mean(), 3), 
'\nWithout relatives: ', round(titanic_data['Survived'].mean(), 3))

With relatives:  0.506
Without relatives:  0.384

In [30]:
# Выясним корреляцию Sibs с выживанием
titanic_data['Survived'].corr(titanic_data['SibSp'])

-0.03532249888573559

In [27]:
# Выясним корреляцию Роде с выживанием
titanic_data['Survived'].corr(titanic_data['Parch'])

0.081629407083483652

In [63]:
#  Корреляция с каждым признаком в отдельности низкая, попробуем с двумя сразу (если я правильно делаю)
titanic_data['Survived'].corr(titanic_data['SibSp'] + titanic_data['Parch'])

0.016638989282745265

In [64]:
titanic_data['Survived'].corr(titanic_data['Age'])

-0.077221094572177643

In [ ]:
titanic_data['Survived'].corr(titanic_data['Age']) # Оказывается корреляция идет по числу а не по Категории

In [49]:
titanic_data[titanic_data['Survived'] == 0]['Survived'].count()

549

In [53]:
# Создадим таблицу сопряженности
tit_frame = pd.DataFrame({'Male': [titanic_data[
                              (titanic_data['Survived'] == 0) & (titanic_data['Sex'] == 'male')
                          ]['Survived'].count(),
                                   titanic_data[
                                  (titanic_data['Survived'] == 1) & (titanic_data['Sex'] == 'male')
                          ]['Survived'].count()],
                          'Female': [titanic_data[
                              (titanic_data['Survived'] == 0) & (titanic_data['Sex'] == 'female')
                          ]['Survived'].count(),
                                     titanic_data[
                                  (titanic_data['Survived'] == 1) & (titanic_data['Sex'] == 'female')
                          ]['Survived'].count()                                  
                                  ],
                          '1_Survived': [1, 0]
                        })
tit_frame

   1_Survived  Female  Male
0           1      81   468
1           0     233   109

In [61]:
pd.crosstab(titanic_data['Sex'], titanic_data['Survived']) # так пожалуй проще

Survived    0    1
Sex
female     81  233
male      468  109

In [4]:
def ageGroups(age):
    if age < 3:
        return 1
    elif age < 6:
        return 2
    elif age < 12:
        return 3
    elif age < 18:
        return 4
    elif age < 35:
        return 5
    elif age < 50:
        return 6
    elif age < 65:
        return 7
    else:
        return 8

In [10]:
titanic_data['age group'] = [ageGroups(x) for x in titanic_data['Age']]

NameError: name 'titanic_data' is not defined

# Вопросы

In [ ]:
Как работает scatter_matrix
Как сделать таблицу из дф
Как оценить зависимость номинативной переменной от количественной
изучить образец https://www.kaggle.com/erikbruin/titanic-2nd-degree-families-and-majority-voting